<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="navbar">
        <a href="/">Home</a>
        |
        <a href="/projects">Projects</a>
        |
        <a href="/contact">Contact</a>
    </div>
    <h1>Because It's All About Me</h1>
    <div id="photo">
        <img src="" alt="photo of me">
        <h3>Name of Me</h3>
        <h4>Some kind of inspirational quote or some shit</h4>
    </div>
    <div id="bio">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, ea voluptas qui minus consectetur doloribus fugiat magnam quasi deleniti est, et eaque ipsam exercitationem alias quisquam quam rerum sunt quae.
        </p>
    </div>
</body>
</html>