@model User;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Enter Your Information</h3>
        <form asp-action="Register" asp-controller="Home" method="post">
            <span asp-validation-for="FirstName"></span>
            <label asp-for="FirstName">First Name</label>
            <input type="text" asp-for="FirstName" id="FirstName">
            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName">Last Name</label>
            <input type="text" asp-for="LastName" id="LastName">
            <span asp-validation-for="Age"></span>
            <label asp-for="Age">Age</label>
            <input type="number" asp-for="Age" id="Age">
            <span asp-validation-for="Email"></span>
            <label asp-for="Email">Email</label>
            <input type="email" asp-for="Email" id="Email">
            <span asp-validation-for="Password"></span>
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" id="Password">
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>
