@model FormSub.Models.User;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormRes</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="formbox">
        <h3>Submitted Info</h3>
        <div class="infodivs">
            <h4>
                Name:
            </h4>
            <h4>
                Dojo Location:
            </h4>
            <h4>
                Favorite Language:
            </h4>
            <h4>
                Comment:
            </h4>
        </div>
        <div class="infodivs">
            <p>@Model.Name</p>
            <p>@Model.Dojo</p>
            <p>@Model.Language</p>
            <p>@Model.Comment</p>
        </div>
        <br>
        <button><a href="/">Go Back</a></button>

    </div>
</body>
</html>