<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojogachi</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Lets hope we dont kill our poke-pool</h1>
    <h6>(psst...spoiler, he cant really die, everyone has tried...even him)</h6>
    <hr>
    <p>Fullness:(num) | Happiness:(num) | Meals:(num) | Energy:(num)</p>
    <img src="img/standard.jpeg" alt="Image of the poke-thing"><br>
    <hr>
    <button href="/feed" action="post">Eat It</button>
    <button href="/play" action="post">Play With That thang</button>
    <button href="/work" action="post">Get A Job</button>
    <button href="/sleep" action="post">Rack Out</button>
    
</body>
</html>